src/main/resources/schema/contacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
	<xs:element name="contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="contact" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="OPFContactCopyCategoryList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="category" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="OPFCategoryCopyBackgroundColor" type="xs:string" />
												<xs:attribute name="OPFCategoryCopyName" type="xs:string" />
												<xs:attribute ref="xml:space" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyPrimaryCategory" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OPFCategoryCopyBackgroundColor">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFCategoryCopyName">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyDueDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyStartDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyAnniversary" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyAssistantPhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyAstrologySign" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBloodType" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessFax" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessHomePage" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessPhone2" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCanDelete">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCanEdit">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyAge" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBirthday" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessCity" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessCompany" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessPhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCellPhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessCountry" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessDepartment" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessOffice" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessState" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessStreetAddress" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessTitle" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyBusinessZip" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyContactImage" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:byte">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyDefaultEmailAddress" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contactEmailAddress">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressIsDefault" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyDefaultIMAddress" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contactEmailAddress">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressIsDefault" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyDisplayName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyEmailAddressList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contactEmailAddress" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" use="optional" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressIsDefault" use="optional" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyEmailAddressList1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contactEmailAddress">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressIsDefault" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyEmailAddressList2" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contactEmailAddress">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressIsDefault" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyFirstName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyLastName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyModDate" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyNotes" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyNotesPlain" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactGetFlagStatus" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:byte">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactIsJapaneseContact" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:byte">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactType" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:byte">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeCity" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeCountry" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeState" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeStreetAddress" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeZip" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyIMAddressList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contactEmailAddress">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressIsDefault" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyChildren" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustom1Data" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustom2Data" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustom3Data" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustom4Data" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustom5Data" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomDate1" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomDate2" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomDate3" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomPhone1" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomPhone2" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomPhone3" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyCustomPhone4" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyFuriganaChildrensNames" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="string">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeFax" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomePhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomePhone2" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyHomeWebPage" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyInterests" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyMiddleName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyNickName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherCity" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherCountry" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherFax" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherPhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherState" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherStreetAddress" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyOtherZip" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyPager" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyRadioPhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopySetNameSuffix" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopySpousesName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCopyTitle" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCustomData5" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCustomData6" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCustomData7" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactCustomData8" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFContactMainPhone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute ref="xml:space" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:space" />
			<xs:attribute type="xs:byte" name="elementCount" />
		</xs:complexType>
	</xs:element>
</xs:schema>