src/main/resources/schema/emails.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="unqualified">
	<xs:import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
	<xs:element name="emails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="email" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="OPFMessageCopyPrimaryCategory" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OPFCategoryCopyBackgroundColor" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFCategoryCopyName" minOccurs="0">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" use="optional" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyCategoryList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="category" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="OPFCategoryCopyBackgroundColor" type="xs:string" />
												<xs:attribute name="OPFCategoryCopyName" type="xs:string" />
												<xs:attribute ref="xml:space" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyMeetingData" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyReferences" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyInReplyTo" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyBCCAddresses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="emailAddress" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyReplyToAddresses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="emailAddress" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopySenderAddress" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="emailAddress" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyToAddresses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="emailAddress" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyThreadTopic" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyCompletedDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyDueDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyStartDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyModDate" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopySentTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyThreadIndex" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyReminderDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyReceivedRepresentingName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyReceivedTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetCalendarAcceptStatus" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetSendReadReceipt" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetMentionedMe" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetInferenceClassification" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetHasRichText" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetIsRead" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetOverrideEncoding" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetPriority" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopySubject" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopySource" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyGetFlagStatus" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageGetWasSent" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageIsCalendarMessage" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:boolean">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageIsMeeting" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageIsOutgoing" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageIsOutgoingMeetingResponse" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyMessageID" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>

							<xs:element name="OPFMessageGetHasHTML" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyBody" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyHTMLBody" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyFromAddresses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="emailAddress" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyCCAddresses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="emailAddress" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFMessageCopyAttachmentList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="messageAttachment" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="OPFAttachmentContentExtension" type="xs:string" />
												<xs:attribute name="OPFAttachmentContentFileSize" type="xs:string" />
												<xs:attribute name="OPFAttachmentContentID" type="xs:string" />
												<xs:attribute name="OPFAttachmentContentType" type="xs:string" />
												<xs:attribute name="OPFAttachmentName" type="xs:string" />
												<xs:attribute name="OPFAttachmentURL" type="xs:string" />
												<xs:attribute ref="xml:space" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute ref="xml:space" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:space" use="optional" />
			<xs:attribute name="elementCount" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="emailAddress">
		<xs:complexType>
			<xs:attribute ref="xml:space" use="optional" />
			<xs:attribute name="OPFContactEmailAddressAddress" type="xs:string" />
			<xs:attribute name="OPFContactEmailAddressName" type="xs:string" />
			<xs:attribute name="OPFContactEmailAddressType" type="xs:integer" />
		</xs:complexType>
	</xs:element>
</xs:schema>