src/main/resources/schema/groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
	<xs:element name="groups">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="group" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="OPFGroupCopyDisplayName" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyGetFlagStatus" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyMemberList">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="emailAddress" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressAddress" />
														<xs:attribute type="xs:string" name="OPFContactEmailAddressName" />
														<xs:attribute type="xs:byte" name="OPFContactEmailAddressType" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyModDate">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupSuppressNames" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyDueDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyStartDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyCategoryList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="category" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="OPFCategoryCopyBackgroundColor" type="xs:string" />
												<xs:attribute name="OPFCategoryCopyName" type="xs:string" />
												<xs:attribute ref="xml:space" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFGroupCopyGetPrimaryCategory" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OPFCategoryCopyBackgroundColor">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFCategoryCopyName">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute ref="xml:space" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:space" />
			<xs:attribute type="xs:byte" name="elementCount" />
		</xs:complexType>
	</xs:element>
</xs:schema>