src/main/resources/schema/tasks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
	<xs:element name="tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="task" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="OPFTaskCopyCategoryList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="category" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="OPFCategoryCopyBackgroundColor" type="xs:string" />
												<xs:attribute name="OPFCategoryCopyName" type="xs:string" />
												<xs:attribute ref="xml:space" use="optional" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyPrimaryCategory" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OPFCategoryCopyBackgroundColor">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFCategoryCopyName">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyReminderTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyCompletedDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyModDate">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyName">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyNote" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyNotePlain" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskGetPriority" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyDueDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyStartDateTime" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:dateTime">
											<xs:attribute ref="xml:space" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="OPFTaskCopyRecurrence" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OPFRecurrenceCopyEndDate">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:dateTime">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFRecurrenceCopyStartDate">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:dateTime">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFRecurrenceGetOccurenceCount">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFRecurrenceHasEndDate">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFRecurrenceIsNoEnd">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFRecurrenceIsNumbered">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute ref="xml:space" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="OPFRecurrencePattern" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="OPFRecurrencePatternDaysOfWeek" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="allDays">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="friday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="monday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="tuesday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="wednesday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="thursday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="sunday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="saturday">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="weekdays">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="weekenddays">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute ref="xml:space" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:all>
															<xs:attribute ref="xml:space" />
														</xs:complexType>
													</xs:element>
													<xs:element name="OPFRecurrencePatternInterval">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute ref="xml:space" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="OPFRecurrencePatternType">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute ref="xml:space" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="OPFRecurrencePatternDayOfMonth" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute ref="xml:space" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="OPFRecurrencePatternMonth" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute ref="xml:space" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:all>
												<xs:attribute ref="xml:space" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute ref="xml:space" />
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute ref="xml:space" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:space" />
			<xs:attribute type="xs:byte" name="elementCount" />
		</xs:complexType>
	</xs:element>
</xs:schema>